.font-w-100{ font-weight: 100; }
.font-w-200{ font-weight: 200; }
.font-w-300{ font-weight: 300; }
.font-w-400{ font-weight: 400; }
.font-w-500{ font-weight: 500; }
.font-w-600{ font-weight: 600; }
.font-w-700{ font-weight: 700; }
.font-w-800{ font-weight: 800; }
.font-w-900{ font-weight: 900; }

.font-w-100:before{ font-weight: 100; }
.font-w-200:before{ font-weight: 200; }
.font-w-300:before{ font-weight: 300; }
.font-w-400:before{ font-weight: 400; }
.font-w-500:before{ font-weight: 500; }
.font-w-600:before{ font-weight: 600; }
.font-w-700:before{ font-weight: 700; }
.font-w-800:before{ font-weight: 800; }
.font-w-900:before{ font-weight: 900; }