.size-50 { width: 50px; height: 50px }
.size-100 { width: 100px; height: 100px }
.size-150 { width: 150px; height: 150px }
.size-200 { width: 200px; height: 200px }
.size-250 { width: 250px; height: 250px }
.size-300 { width: 300px; height: 300px }
.size-350 { width: 350px; height: 350px }
.size-400 { width: 400px; height: 400px }
.size-450 { width: 450px; height: 450px }
.size-500 { width: 500px; height: 500px }
.size-550 { width: 550px; height: 550px }
.size-600 { width: 600px; height: 600px }
.size-650 { width: 650px; height: 650px }
.size-700 { width: 700px; height: 700px }
.size-750 { width: 750px; height: 750px }
.size-800 { width: 800px; height: 800px }
.size-850 { width: 850px; height: 850px }
.size-900 { width: 900px; height: 900px }
.size-950 { width: 950px; height: 950px }
.size-1000 { width: 1000px; height: 1000px }
